@import '../variables';
@import '../../../../style/bootstrap-custom/bootstrap-no-output';

:host {
  .copy {
    font-size: .75em;

    h1 {
      font-weight: 300;
    }

    .structure-content {
      .container {
        padding-top: .5 em;
        padding-bottom: .5 em;
      }
    }

    @media screen and(min-width: $screen-sm-min) {
      font-size: 1.25em;

      &.footer-strip {
        .structure-content {
          height: 0px;
          padding: 0;
        }
      }
    }

    @media screen and(min-width: $screen-md-min) {
      &.footer-strip {
        .structure-content {
          height: 0px;
          padding: 0;
        }
      }
    }

    @media screen and(min-width: $screen-lg-min) {
      &.footer-strip {
        .structure-content {
          height: 0px;
          padding: 0;
        }
      }
    }
  }
}
