@import '../_variables.scss';

site-footer {
  footer {
    margin-top: 0;
    z-index: 0 !important;

    .content,
    .sub-footer {
      border-top: none;
      background: map-get($colors-overrides, footer-bg);
    }

    ul {
      li {
        list-style: none;
      }
    }
  }
}