@import '../variables';
@import '../../../../style/bootstrap-custom/bootstrap-no-output';

&:host {
    .hero {
        h1 {
            text-align: left;
        }
        h2 {
            text-align: left;
        }

        h2 {
            font-family: $body-font-family-override;
        }

        /* Home page hero needs adjustments for image */
        &.home-hero {
            .structure-content {
                padding: 6em 0 2em 0;
            }
        }

        .second-second-pic {
            background-size: cover;
            background-position: center center;
        }

        @media screen and(min-width: $screen-sm-min) {
            h1 {
                font-size: 1.75em;
            }

            h2 {
                font-size: .6em;
            }
        }
    }
}
