@import '../variables';
@import '../../../../style/bootstrap-custom/bootstrap-no-output';

text-image {
  .text-image {
    padding: 4em 0;

    .structure-content {
      margin-top: 0 !important;
    }

    .v-center {
      :first-child {
        margin-top: 0;
        padding-top: 0;
      }
    }

    h2 {
      font-weight: 300;
      font-size: 2.5em !important;
    }

    &.content-left {
      .content {
        .v-center {
          text-align: left;
        }
      }
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .text-image {
      padding: 6em 0;
    }

    h2 {
      font-size: 2.75em !important;
    }
  }
}