@import '../variables';
@import '../../../../style/bootstrap-custom/bootstrap-no-output';

.hero.about-hero {
  background-position: center bottom !important;
  background-repeat: no-repeat;
  background-size: contain !important;

  .structure-content {
    padding: 1.5em 0 19em 0;

    h1 {
      color: #333;
      box-shadow: none;
      font-weight: 300;
      text-shadow: none;
    }

    h2 {
      margin-top: .5em !important;
      font-weight: 100;
      color: #333;
      text-shadow: none;
    }
  }
}

@media screen and (min-width: $screen-xs-min) {
  .hero.about-hero {
    .structure-content {
      padding: 1.5em 0 15.5em 0;

      h1 {
        font-size: 1.75em;
      }

      h2 {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .hero.about-hero {
    .structure-content {
      padding: 0 0 10.5em 0;

      h1 {
        font-size: 1.25em;
      }

      h2 {
        font-size: .6em;
        width: 75%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .hero.about-hero {
    .structure-content {
      padding: 0 0 11em 0;

      h1 {
        font-size: 1.25em;
      }

      h2 {
        font-size: .6em;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .hero.about-hero {
    .structure-content {
      padding: 0 0 10.5em 0;

      h1 {
        font-size: 1em;
      }

      h2 {
        font-size: .5em;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero.about-hero {
    .structure-content {
      padding: 0 0 12em 0;
    }
  }
}