.home-copy-blade {
  h1 {
    text-align: center;

    span {
        padding: 0 10px;
    }
  }

  p {
          text-align: justify !important;
          span {
              font-style: italic;
          }
      }
}