@import '../variables';
@import '../../../../style/bootstrap-custom/bootstrap-no-output';

$imageRoot: $urlContentRoot + $urlImageRelativePath;

.content-toggle {
  margin-bottom: 2em;

  h1 {
    margin-top: 1em;
  }

  .toggle-items {
    margin: 2em 0;
  }

  .toggle-item {
    button {
      background-color: #aaa;

      &:hover {
        background-color: lighten(map-get($base-colors-overrides, brand-secondary), 10%);
      }
    }
  }
  .toggle-item {
    &.active {
      button {
        background-color: map-get($base-colors-overrides, brand-secondary);
      }
    }
  }
}

.tile-set {
  &.packages-group {
    padding-bottom: 2em;

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .tile-container {
      margin-bottom: 2em;
    }

    .tile {
      background: #efefef;
      padding-top: 1em !important;
      padding-bottom: 3em !important;
    }

    &.single-lesson-package {
      .disclaimer {
        margin-top: 1em;
      }
    }
  }
}

.tile {
  font-weight: 300;

  h1 {
    font-weight: 300;
  }

  .image-wrapper {
    display: none;
  }

  .feature-bubble {
    display: inline-block;
    width: 140px;
    height: auto;
    padding: 1em 0 1.75em 0;
    line-height: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    color: #FFF;
    font-weight: bold;

    &.primary {
      background-image: url($imageRoot + 'package-bubble-primary.svg');
    }

    &.secondary {
      background-image: url($imageRoot + 'package-bubble-secondary.svg');
    }

    .large {
      font-size: 2em;
    }

    .small {
      font-size: .8em;
      font-weight: 300;
    }
  }

  .button {
    background: #666;

    &:hover {
      background: #444;
    }
  }

  .disclaimer {
    display: block;
    font-size: .75em;
    color: #999;
    font-style: italic;
  }
}

.scheduler-frame {
  width: 100%;
  min-height:400px;
}

@media screen and (min-width: $screen-xs-min) {
  .tile-set {
    &.packages-group {
      .row {
        flex-direction: row;
      }

      .tile-container {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .tile-set {
    &.packages-group {
      .tile-container {
        width: 45%;
      }
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .tile-set {
    &.packages-group {
      .tile-container {
        width: 33.3333%;
      }
    }
  }
}